@import "~/src/styles/mixins";

.mainPage {
  width: 100%;
  height: var(--height, 100vh);
}

.buttonWrapper {
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  right: 23%;
  z-index: 2;

  @media (max-width: 800px) {
    top: initial;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
  }

  .button {
    min-width: 340px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #ff9415 0%, #ffbf73 100%), #ff9415;
    border-radius: 37px;
    transition: 0.3s;

    font-family: HeadingNow;
    font-size: 52px;
    color: white;
    text-transform: uppercase;

    @media (max-width: 800px) {
      min-width: 220px;
      height: 60px;
      font-size: 32px;
      border-radius: 20px;
    }

    @include desktop() {
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

.backgroundWrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--height, 100vh);
  width: 100%;
  z-index: 1;

  .backgroundDesktop {
    object-position: 85% 50%;
    @media (max-width: 800px) {
      display: none;
    }
  }
  .backgroundMobile {
    object-position: 85% 25%;
    display: none;
    @media (max-width: 800px) {
      display: block;
    }
  }
}

.footer {
  padding: 0 20px;
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 460px;
  z-index: 2;
}
